<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/template :: head('Areas')"></head>

<body>
    <div class="wrapper">
        <!-- Aside -->
        <div th:replace="fragments/template :: aside"></div>

        <!-- Contenido principal -->
        <div class="main">
            <!-- Header -->
            <div th:replace="fragments/template :: header"></div>

            <!-- Main diferente en cada página -->
            <main class="p-3">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <h2 class="mb-0">Areas</h2>
                            <!-- Botón que abre el modal -->
                            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#registrarAreaModal">
                                Registrar
                            </button>
                        </div>



                        <!-- Tabla -->
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover align-middle">
                                <thead class="table-light">
                                    <tr>
                                        <th>ID</th>
                                        <th>Nombre</th>
                                        <th>Estado</th>
                                        <th>Empresa asociada</th>
                                        <th>Fecha de creación</th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <th:block th:each="ar:${lista}">
                                    <tr>
                                        <td th:text="${ar.id}"></td>
                                        <td th:text="${ar.nombre}"></td>
                                        <td th:text="${ar.estado}"></td>
                                        <td th:text="${ar.empresa.nombre}"></td>
                                        <td th:text="${ar.fechaCreacion}"></td>
                                        <td>
                                            <a th:href="@{/area/edit/{id}(id=${ar.id})}"
                                                class="btn btn-warning"><i class="bi bi-pencil-square"></i></a>
                                            <form th:action="@{/area/delete}" method="post"
                                                class="d-inline eliminar-form">
                                                <input type="hidden" name="id" th:value="${ar.id}">
                                                <button type="button"
                                                    class="btn btn-danger btn-sm btn-eliminar"><i class="bi bi-trash-fill"></i></button>
                                            </form>
                                        </td>
                                    </tr>
                                </th:block>
                            </table>
                        </div>


                    </div>
                </div>
            </main>

            <!-- Footer -->
            <div th:replace="fragments/template :: footer"></div>
        </div>
    </div>

    <div class="modal fade" id="registrarAreaModal" tabindex="-1" aria-labelledby="registrarAreaModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title fw-bold" id="registrarAreaModalLabel">Registrar Areas</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                </div>
                <div class="modal-body">
                    <form th:action="@{/area/save}" th:object="${area}" method="post">
                        <input type="hidden" th:field="*{id}">
                        <div class="row g-3">
                            <div class="col-md-12">
                                <label class="form-label">Nombre</label>
                                <input type="text" th:field="*{nombre}" placeholder="Nombre" class="form-control">
                                <span th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"
                                    style="color: red;"></span>
                            </div>
                            <div class="col-md-6">
                                <label class="form-label">Empresa</label>
                                <select th:field="*{empresa.id}">
                                    <option value="" disabled selected>Seleccionar una empresa</option>
                                    <option th:each="emp:${empresa}" th:value="${emp.id}" th:text="${emp.nombre}">
                                    </option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                <label class="form-label">Estado</label>
                                <select th:field="*{estado}" class="form-select">
                                    <option value="" disabled selected>Selecciona el estado</option>
                                    <option th:each="est : ${T(com.jprado.planillas.area.AreaEstado).values()}"
                                        th:value="${est}" th:text="${est}">
                                    </option>
                                </select>
                            </div>
                            <div class="col-md-12">
                                <label class="form-label">Fecha Creación</label>
                                <input type="text" th:field="*{fechaCreacion}" class="form-control">

                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                            <button type="submit" class="btn btn-primary">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
    crossorigin="anonymous"></script>
<script src="/js/sidebar.js"></script>
<script th:if="${abrirModal}">
    document.addEventListener("DOMContentLoaded", function () {
        const modal = new bootstrap.Modal(document.getElementById('registrarAreaModal'));
        modal.show();
    });
</script>
<script>
    document.querySelectorAll('.btn-eliminar').forEach(btn => {
        btn.addEventListener('click', function () {
            const form = this.closest('form');
            Swal.fire({
                title: '¿Eliminar empresa?',
                text: "Esta acción no se puede deshacer.",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#d33',
                cancelButtonColor: '#3085d6',
                confirmButtonText: 'Sí, eliminar',
                cancelButtonText: 'Cancelar'
            }).then((result) => {
                if (result.isConfirmed) {
                    form.submit();
                }
            });
        });
    });
</script>

</html>